* {
    margin: 0;
    justify-content: center;
}

body {
    background: linear-gradient(180deg, #FFFACD, #B0C4DE, #4169E1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tetris {
    border: 5px solid rgb(221, 163, 62);
    display: grid;
    grid-template-columns: repeat(10, auto);
    position: relative;
    justify-content: center;
}

.tetris div {
    height: min(4vh, 7vw);
    width: min(4vh, 7vw);
    background: rgba(250, 247, 247, 0.815);
    box-shadow: inset 2px 2px 2px #5a0a0a, inset -2px -2px 2px #0d704ad2;
}
.tetrisNextFigure{
    position: absolute;
    top: 36%;
    right: 269px;
    border: 5px solid rgb(221, 163, 62);
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
}
.tetrisNextFigure div{
    height: min(4vh, 7vw);
    width: min(4vh, 7vw);
    background: rgba(250, 247, 247, 0.815);
    box-shadow: inset 2px 2px 2px #5a0a0a, inset -2px -2px 2px #0d704ad2;
}
/* Figure colors */
.tetris .O { background-color: #FFD700; }
.tetris .I { background-color: #00CED1; }
.tetris .S { background-color: #32CD32; }
.tetris .Z { background-color: #FF4500; }
.tetris .Zz { background-color: violet; }
.tetris .L { background-color: #FF8C00; }
.tetris .J { background-color: #4169E1; }
.tetris .T { background-color: #8A2BE2; }
.tetris .V { background-color: #FF1493; }
.tetris .D { background-color: #A52A2A; }

#scoreMain {
    position: absolute;
    top: 10px;
    border: 2px solid #074930d2;
    border-radius: 10px;
    padding: 2px 30px;
    margin: 2px;
    font-size: 30px;
    font-family: Arial, sans-serif;
    background: white;
}
.start {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(-50%);
    top: 15%;
    left: 75%;
    text-align: center;
}

#scoreUser {
    position: relative;
    border: 2px solid #074930d2;
    border-radius: 10px;
    padding: 2px;
    margin-top: 20px;
    font-size: 30px;
    font-family: Arial, sans-serif;
    background: white;
}

#startBtn {
    cursor: pointer;
    padding: 8px 3px;
    margin-top: 10px;
    font-size: 20px;
    border: 2px solid #074930d2;
    border-radius: 10px;
    background: white;
}

#startBtn:hover {
    background-color: #FFFACD;
    box-shadow: inset 4px 4px 4px #4169E1, inset -4px -4px 4px #4169E1;
}

#message {
    position: absolute;
    width: 130px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    z-index: 1000;
    font-size: 20px;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    font-family: Arial, sans-serif;
    background-color: rgba(234, 255, 42, 0.808);
    border-radius: 10px;
}

